<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSONTeste</display-name>
  <welcome-file-list>
    <welcome-file>Server</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Server</display-name>
    <servlet-name>Server</servlet-name>
    <servlet-class>fatec.json.Server</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioServlet</display-name>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <servlet-class>fatec.controller.usuario.CadastrarUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListaPerguntaServlet</display-name>
    <servlet-name>ListaPerguntaServlet</servlet-name>
    <servlet-class>fatec.controller.pergunta.ListaPerguntaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListaUsuarioServlet</display-name>
    <servlet-name>ListaUsuarioServlet</servlet-name>
    <servlet-class>fatec.controller.usuario.ListaUsuarioServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListaRespostaServlet</display-name>
    <servlet-name>ListaRespostaServlet</servlet-name>
    <servlet-class>fatec.controller.resposta.ListaRespostaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginUsuarioServlet</display-name>
    <servlet-name>LoginUsuarioServlet</servlet-name>
    <servlet-class>fatec.controller.usuario.LoginUsuarioServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>CadastrarPerguntaServlet</display-name>
    <servlet-name>CadastrarPerguntaServlet</servlet-name>
    <servlet-class>fatec.controller.pergunta.CadastrarPerguntaServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>FinalizarPerguntaServlet</display-name>
    <servlet-name>FinalizarPerguntaServlet</servlet-name>
    <servlet-class>fatec.controller.pergunta.FinalizarPerguntaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CadastrarRespostaServlet</display-name>
    <servlet-name>CadastrarRespostaServlet</servlet-name>
    <servlet-class>fatec.controller.resposta.CadastrarRespostaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DadosUsuarioServlet</display-name>
    <servlet-name>DadosUsuarioServlet</servlet-name>
    <servlet-class>fatec.controller.usuario.DadosUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Server</servlet-name>
    <url-pattern>/Server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <url-pattern>/CadastrarUsuario.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ListaPerguntaServlet</servlet-name>
    <url-pattern>/ListaPergunta.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListaUsuarioServlet</servlet-name>
    <url-pattern>/ListaUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListaRespostaServlet</servlet-name>
    <url-pattern>/ListaResposta.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUsuarioServlet</servlet-name>
    <url-pattern>/LoginUsuario.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>CadastrarPerguntaServlet</servlet-name>
    <url-pattern>/CadastrarPergunta.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FinalizarPerguntaServlet</servlet-name>
    <url-pattern>/FinalizarPergunta.do</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>CadastrarRespostaServlet</servlet-name>
    <url-pattern>/CadastrarResposta.do</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>DadosUsuarioServlet</servlet-name>
    <url-pattern>/DadosUsuario.do</url-pattern>
  </servlet-mapping>
</web-app>